#customConfirmation {
    display: none;
    width: 400px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 3;
    border: 1px solid #333;
    border-radius: 5px;
}
.confirm-title {
    text-align: center;
    padding: 10px 0;
}
.confirm-message {
    padding: 0 10px;
}

.customer-main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
}
.side-indicator-bar {
    background-color: #f0f0f0;
}
.back-link {
    display: block;
    font-size: 1.3em;
    text-align: center;
    color: #333;
}
.form-side {
    padding: 20px 25px;
}