#customConfirmation {
    display: none;
    width: 400px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    z-index: 3;
    border: 1px solid #333;
    border-radius: 5px;
}
.confirm-title {
    text-align: center;
    padding: 10px 0;
}
.confirm-message {
    padding: 0 10px;
}

.customer-main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
}
.side-indicator-bar {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.steps-list {
    list-style: none;
    margin: 50px 0 50px 100px;
    padding: 0 0 0 50px;
    border-left: 1px solid #333;
}
.step {
    position: relative;
    margin: 0 0 50px 0;
}
.step:nth-child(6) {
    margin: 0;
}
.step::before {
    content: "";
    position: absolute;
    left: -63.5px;
    top: 0;
    width: 25px;
    height: 25px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 50%;
}
.step.active::before {
    background-color: rgb(218, 218, 218);
    border: 3px solid #333;
}
.back-link {
    display: block;
    font-size: 1.3em;
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}
.form-side {
    padding: 20px 25px;
}
#customerForm {
    position: relative;
    min-height: 80vh;
}
.form-tab {
    display: none;
}
.form-tab > h2 {
    margin-bottom: 50px;
}
/* .form-footer {
    position: absolute;
    bottom: 0;
} */

/* Customer Profile page style*/
.uni-input {
    border: none !important;
    outline: none;
    width: 90%;
}
input:disabled,
textarea:disabled {
    background-color: transparent;
}
.uni-textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 1px solid rgb(167, 167, 167);
}
.big-my {
    margin: 35px 0;
}
span.fa.fa-star.checked {
    color: orange;
}